@import "bootstrap-sass/lib/bootstrap";
@import "compass";

html, body {
  margin: 20px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}


$tableRowHighlightColor: #f0f0f0;

.contactRow {
  &:hover {
    td {
      background: $tableRowHighlightColor;
      cursor: pointer;
      &.actionCol {
        @include background-image(linear-gradient(right, white, $tableRowHighlightColor));
        cursor: default;
      }
    }
  }
  td.actionCol {
    width: 1em;
  }
}

.btn {
  white-space: nowrap;
}

.topRightButton {
  float: right;
  display: block;
}