<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>eMail</th>
            <th>Telephone</th>
            <th class="actionCol"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="contact in contacts | orderBy:'fn'" class="contactRow">
            <td ng-click="editContact(contact)"><a href="#/contact/{{contact.id}}">{{contact.fn}}</a></td>
            <td ng-click="editContact(contact)">
                <ul class="unstyled">
                    <li ng-repeat="email in contact.emails">
                        {{email.value}}
                    </li>
                </ul>
            </td>
            <td ng-click="editContact(contact)">
                <ul class="unstyled">
                    <li ng-repeat="tel in contact.tels">
                        {{tel.value}}
                    </li>
                </ul>
            </td>
            <td class="actionCol">
                <div class="btn-group" ng-show="contact.emails.length>1">>
                    <a class="btn" href="mailto:{{contact.emails[0].value}}">Write
                        eMail</a>
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                        <li ng-repeat="email in contact.emails"><a tabindex="-1" href="mailto:{{email.value}}">{{email.value}}</a></li>
                    </ul>
                </div>

                <a class="btn" href="mailto:{{contact.emails[0].value}}" ng-show="contact.emails.length==1">Write
                    eMail</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>